
body {
  height:900px;
  width: 680px;
  padding-left: 35px;
  font-family: sans-serif;
  font-size: 1em;
}
hr {
  height: 5px;
  background-color: green;
}
h1 {
  color: blue;
}
img {
  margin-right: .5em;
}
a {
  float: right;
}
.errMsg {
  float: right;
  display: inline-block;
  padding-bottom: 15px;
  color: maroon;
  font-size: 1.2em;
  font-style: oblique;
}

.statusMsg {
  /*padding: 5px;*/
  display:inline-block;
  padding-bottom: 15px;
}
.nameForm {
  color: green;
  padding-bottom: 20px;
}
.start {
  margin-top: 10px;
  background-color: orange;
}
.p1 {
  border: 8px solid green;
  padding: 1px;
}
.p2 {
  border: 8px solid purple;
  padding: 1px;
}
footer {
  font-size: 0.8em;
  background-color: #B3F0F6;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.imgPlayer {
    border-color: green;
    border-width: thick;
}
.space {
  /*border: 2px dashed #CED2D2;*/
  box-shadow: inset 0 0 8px grey;
  /*border-radius: 8px;*/
  float: left;
  height: 50px;
  width: 50px;
  margin: 4px;
}
.space:hover {
  background-color: #e1e9b7;
}

.win {
  background-color: #pink;
}

/******** STYLES for IDs ********/
#form {
  padding-bottom: 20px;
}
/*.score {
  padding: 10px 20px;   // T,B & L&R
}*/
#game {
  height: 450px;
  width: 450px;
  margin-left: 90px;
}
